.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s alternate-reverse;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background: linear-gradient( 135deg, rgba(48, 140, 179, .6), rgba(48, 140, 179, .1)), linear-gradient( 180deg, transparent, rgba(0, 0, 0, .4)), linear-gradient( 60deg, rgba(32, 93, 119, .1), rgba(32, 93, 119, .1) 50%, rgba(32, 93, 119, 0) 50.1%), #000;
  background-attachment: fixed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: translateY(-15%);
  }
  to {
    transform: translateY(5%);
  }
}

input, button {
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;

  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.3);
  color: inherit;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 3px;
}

button {
  font-size: 1.8rem;
  font-weight: normal;
  cursor: pointer;
}

form input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

form button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form + div > button {
  margin-top: 1rem;
}